/* fixing box sizing */

* {
    box-sizing: border-box;
}

/* link styles */

a:link {
    text-decoration: none;
    color: #000;
}

a:hover {
    color:rgba(255, 0, 0, .6);
}

a:active {
    color: blue;
}

/*  Base Element Styles */

body {
	display: flex;
	flex-direction: column;
    min-height: 100vh;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

header,
footer {
    text-align: center;
}

main {
    display: block;
}

p {
    margin: 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 200;
    line-height: 1.6em;
}

h2 {
    font-weight: 400  
}

img {
    max-width: 100%;
}

/* Navigation */

nav {
    text-align: center;
    margin: 0 auto;
    
}
nav li {
margin: 0 auto;
font-weight: 700;
text-transform: uppercase;
}
nav a {
    padding: 20px 15px;
    display: block;
}

/* Base Layout Styles */

ul {
    list-style-type: none;
}

.name {
	font-size: 1.35em;
	margin: 0;
	margin-top: 5px;
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.first-ul  {
	font-size: .95em;
	text-transform: uppercase;
    margin: 15px;
    padding: 15px;
    text-align: 5px;
    display: inline-block;
}

.bottom-nav {
    border-top: 1px solid rgb(138, 138, 138, 25%);
    display: block;
    padding: 10px;
    text-align: center;
  }


#portfolio {
    text-align: center;
    text-transform: uppercase;
    margin: 100px 100px;

}

/* ---- Layout Containers ---- */


.banner,
.main-footer {
	text-align: center;
}

.banner {
    margin: 3rem 1em;
    background: rgba(207, 207, 207, .2)
}

.main-footer {
	padding: 2em 0;
    margin-top: 30px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}



/*  Media Queries */

@media (min-width: 768px) { 

.top-nav,
.first-ul,
.second-ul,
.bottom-nav,
.container {
    display:flex;
}

.banner {
    display: flex;
    flex-direction: row-reverse;
}


.top-nav,
.bottom-nav {
	flex-direction:column;
	align-items: center;
}

.col {
    flex: 1 100vh;
}

.top-nav,
.main-footer,
.container {
    width: 90%;
    margin: 0 auto;
    }   


}

@media (min-width: 1024px) {

.top-nav,
.bottom-nav {
    flex-direction:row;
}

.first-ul,
.second-ul {
    align-self: flex-end;
}

.top-nav,
.bottom-nav,
.container {
width: 80%;
}

.container {
    flex-wrap: wrap;
    flex: 1 200px;
}

.col {
    flex-basis: 0;
    flex-wrap: wrap;
}

    /* Float CLearfix */

    #clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
}