/* fixing box sizing */

* {
    box-sizing: border-box;
}

/* link styles */

a:link {
    text-decoration: none;
}

a:hover {
    color: tomato;
}

/*  Base Element Styles */

body {
	display: flex;
	flex-direction: column;
    min-height: 100vh;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

header {
    text-align: center;
}

main {
    display: block;
}

p {
    margin: 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 200;
    line-height: 1.6em;
}

h2 {
    font-weight: 400  
}

img {
    max-width: 100%;
}


footer {
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 1.5rem;

}

/* Base Layout Styles */

ul {
    list-style-type: none;
}

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav  {
	font-size: .95em;
	text-transform: uppercase;
    margin: 15px;
    padding: 0;
    text-align: 5px;
    display: inline-block;
}


#portfolio {
    text-align: center;
    text-transform: uppercase;
    margin: 100px 100px;

}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
}

.banner {
    margin: 3rem 1em;
    background: rgba(207, 207, 207, .2)
}

.main-footer {
	padding: 2em 0;
    margin-top: 30px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}



/*  Media Queries */

@media (min-width: 768px) { 

.main-header,
.main-nav,
.container {
    display:flex;
}

.banner {
    display: flex;
    flex-direction: row-reverse;
}


.main-header {
	flex-direction:column;
	align-items: center;
}

.col {
	flex: 1 50%;
}

.main-header,
.container {
    width: 90%;
    margin: 0 auto;
}


.footer-nav {
    border-top: 1px solid rgb(138, 138, 138, 25%);
    display: block;
    padding: 10px;
    text-align: center;
  }

}

@media (min-width: 1024px) {

.main-header {
    flex-direction:row;
    justify-content: space-between;
}

.main-header,
.container {
width: 80%;
}

.container {
    flex-wrap: wrap;
    flex: 1 200px;
}

.col {
	flex-basis: 0;
}

    /* Float CLearfix */

    #clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
}