/* fixing box sizing */

* {
    box-sizing: border-box;
}

/* link styles */

a:link {
    text-decoration: none;
    color: #000;
}

a:hover {
    color:rgba(255, 0, 0, 0.6);
}

a:active {
    color: blue;
}

/*  Base Element Styles */

body {
	display: flex;
	flex-direction: column;
    min-height: 100vh;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

header,
footer {
    text-align: center;
}

main {
    display: block;
}

p {
    margin: 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 200;
    line-height: 1.6em;
}

h2 {
    font-weight: 400  
}

img {
    max-width: 100%;
}

/* Navigation */

nav {
    text-align: center;
    margin: 0 auto;
    
}
nav li {
margin: 0 auto;
font-weight: 700;
text-transform: uppercase;
background-color: rgba(207, 207, 207, .2);
border-bottom: 2px solid rgba(151, 151, 151, 0.8);
}
nav a {
    padding: 20px 15px;
    display: block;
}

/* Base Layout Styles */

ul {
    list-style-type: none;
    padding-left: 0;
}

.name {
	font-size: 1.35em;
	margin: 0;
	margin-top: 5px;
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.first-ul {
	font-size: .95em;
	text-transform: uppercase;
    margin: 15px;
    padding: 15px;
    text-align: 5px;
    display: inline-block;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    border-top: 1px solid rgb(138, 138, 138, 25%);
    padding: 10px;
}


.bottom-nav a {
    padding: 5px 15px;
}

.bottom-nav li {
    display: inline-block;
}

.bottom-nav .full-nav {
    display: none;
}


#portfolio {
    text-align: center;
    text-transform: uppercase;
    margin: 100px auto;

}

/* ---- Layout Containers ---- */


.banner,
.main-footer {
	text-align: center;
}

.banner {
    margin: 1em 1em;
    background: rgba(207, 207, 207, .2)
}

.banner p {
    padding-right: 50em;
}

.main-footer {
	padding: 2em 0;
    margin-top: 30px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}



/*  Media Queries */

@media (min-width: 768px) { 

.top-nav,
.first-ul,
.second-ul,
.bottom-nav,
.container {
    display:flex;
}

.banner {
    display: flex;
    flex-direction: row-reverse;
}

.banner p {
    flex-basis: 80%;
    text-align: left;
}


.top-nav
{
	flex-direction:column;
	align-items: center;
}

.container {
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
}

.top-nav,
.main-footer,
.container {
    width: 100%;
    margin: 0 auto;
}
    
.bottom-nav .top {
    display: none;
}

.bottom-nav .full-nav {
    display: inline-block;
}

}

@media (min-width: 1024px) {


.top-nav,
.bottom-nav {
    flex-direction:row;
}


.top-nav,
.bottom-nav {
    align-content: center;
    justify-content: space-between;
}

.top-nav a,
.bottom-nav a {
    margin: auto;
}

.col {
    flex-basis: 33.333%;
}


}